{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- nav-bar -->
<nav class="navbar fixed-top bg-yellow">
    {% include 'includes/main_nav.html' %}
</nav>

<!-- Hero pages -->
<section class="container-fluid hero m-0 p-0 ">
    <div class="row m-0 p-0 ">
        <div class="col-12 col-md-10 col-lg-8 m-auto hero-div m-0 p-0 ">
            <div class="hero-text">
                <h1 class="headding">Music Quiz</h1>
            </div>
        </div>
    </div>
</section>


<!-- footer  -->
{% include 'includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
{{block.super}}
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}