.hide {
    display: none;
}
.clue {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    align-content: space-around; */
}
.clue>* {
    padding: 3px;
    margin: 5px;
    flex: 100%;
    border-radius: 10px;
    height: 450px;
}
.clue-image1{
        background-color: tomato;
        background-image: url('');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
}
.clue-image2{
    background-color: turquoise;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.clue-image3{
    background-color: tomato;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.clue-image4{
background-color: turquoise;
background-image: url('');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
overflow: hidden;
}