{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/game.css' %}">
{% endblock %}
{% block content %}
<section class="container">
    <div class="row">
        <div class="col-6">
            <h2>Can you Clue the Music?</h2>
        </div>
        <div class="col-6">
            <h2>Score: 00:00</h2>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
            <div class="card h-100">
               <div class="p-3"><button>PLAY MUSIC</button></div>
                <div class="card-body">
                    <div class="d-flex justify-content-evenly mb-3">
                        <button class="p-2">Clue 1</button>
                        <button class="p-2">Clue 2</button>
                    </div>
                    <form action="">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answer" id="choice1">
                            <label class="form-check-label" for="choice1">
                                Default radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answer" id="choice2" checked>
                            <label class="form-check-label" for="choice2">
                                Default checked radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answer" id="choice3">
                            <label class="form-check-label" for="choice3">
                                Default radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answer" id="choice4">
                            <label class="form-check-label" for="choice4">
                                Default radio
                            </label>
                        </div>
                        <div>
                            <input type="submit" value="ANSWER">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a short card.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="container">
    <div class="row h-100">
        {% for q in questions %}
        <div class="col-3 text-center">
            <div>
                <h1>Can you Clue the Music?</h1>
                <img src="{{ q.image.url }}">
                <audio id="audioFile" src="{{ q.audio_file.url }}" preload="auto"></audio>
                <button id="playButton" class="btn btn-info">Play</button>
                <div>
                    <button id="clueOneButton" class="btn btn-info">Clue 1</button>
                    <p id="clueOne" class="hide">{{ q.clue1 }}</p>
                    <button  id="clueTwoButton" class="btn btn-info">Clue 2</button>
                    <p id="clueTwo" class="hide">{{ q.clue2 }}</p>
                </div>
                <input type="text">
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static '/js/game.js' %}"></script>
{% endblock %}